/* pic parallax */
.article {
  width: 100%;
  height: 700px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  box-shadow: 4px 10px 40px gray;
}
.section1 {
  background-image: url('@/assets/pic/bg01.jpg');
}
.section2 {
  background-image: url('@/assets/pic/bg01.jpg');
}
.section3 {
  background-image: url('@/assets/pic/bg01.jpg');
}
/* pic parallax end */
/* font slide */
.banner_title {
    white-space: nowrap;
    font-size: 6rem;
    width: 6ch;
    overflow: hidden;
    animation: 2s typing steps(13, jump-none) forwards;
    animation-iteration-count: infinite;
}
@keyframes typing {
  0% {
    width: 1ch;
  }

  100% {
    width: 6ch;
  }
}
/*  font slide end  */
/* */
.slide_bg2 {
    background: linear-gradient(45deg,
          rgba(0, 0, 0, 1) 0, rgba(0, 0, 0, 1) 25%, transparent 25%, transparent 50%,
          rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 1) 75%, transparent 75%, transparent);
      background-size: 50px 50px;
}
.slide_bg3 {
    background: linear-gradient(45deg,
          rgb(0, 0, 0) 0, rgb(0, 0, 0) 25%, transparent 25%, transparent 50%,
          rgb(0, 0, 0) 50%, rgb(0, 0, 0) 75%, transparent 75%, transparent);
      background-size: 50px 50px;
}