/* 全局置頂按鈕 start */
.scrollTop-container {
  z-index: 100;
  bottom: 0px;
  transition: all .3s;
  transform: translateY(-20px);
  transition-duration: .3s;
  opacity: 0;
  .scrollTop-btn {
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid #ccc;
    height: 50px;
    width: 50px;
    line-height: 50px;
    &:hover {
      opacity: 0.9;
      border: 1px solid $secondary-80;
    }
  }
}
.scrollIconMoveIn {
  opacity: 1;
  transform: translateY(0px);
}
/* 全局置頂按鈕 end */
// 首頁banner滑動提示紐 start
.slider-icon {
  margin-bottom: 10px;
  &:after {
    content: '';
    display: inline-block;
    position: relative;
    transform: translateY(0px);
    width: 8px;
    height: 8px;
    background: white;
    border-radius: 5px;
    animation: move 1.2s linear .3s infinite;
  }
}
@keyframes move {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
    transform: translateY(15px);
  }
}
.btn-hidden-toggle {
  transition: all 1s;
  transform: translate(-50%, 100px) !important;
  opacity: 0;
}
// 首頁banner滑動提示紐 end
// 全局共用按鈕 start
.offset-btn {
  background-color: #fff;
  transition: all .3s !important;
  box-shadow: 0.3em 0.3em 0 white;
  color: black;
  cursor: pointer;
  &:hover,
  &:active {
    box-shadow: 0 0 0 white, inset 0.2em 0.2em 0 white;
  }
}
            // <w-button class="font-bold tracking-wider text-black px-3
            //  py-md-3 px-md-4 py-lg-3 px-lg-5"
            //  bg-color="white" tile data-aos="fade-up">聯絡我們 </w-button>
.w-btn {
  font-size: 1.125rem !important;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: black !important;
  padding: 1rem 1.5rem !important;
  background: white !important;
}
.w-btn-product {
  font-size: 1.125rem !important;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: black !important;
  padding: 0.25rem !important;
  background: white !important;
  text-align: center;
  border-radius: 3px;
}
@include media-breakpoint-up(md) {
.w-btn {
    padding: 1.2rem 2rem !important;
  }
}
// 全局共用按鈕 end