.footer-logo {
  width: 60px;
  height: 60px;
  filter: contrast(50%);
}
.footer {
  box-shadow: 0px -5px 20px black;
}
.subInput {
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.subBtn {
  border: none;
  border-bottom: 1px solid white;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  &:active {
    box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 1.0);
  }
}
.ins,
.meta {
  padding: 10px;
  line-height: 40px;
  transition: .2s all;
  color: $secondary-BF;
}
.ins {
  &:hover {
    color: $secondary-BF;
    opacity: 0.8;
  }
}
.meta {
  &:hover{
    color: $secondary-BF;
    opacity: 0.8;
  }
}
.copyright {
  color: $secondary-BF;
}
/* 訂閱Ｆorm */
.sub-input {
  width: 70%;
  border: 1px solid white;
  padding: 5px 20px;
}
.sub-btn {
  width: 30%;
  border: 1px solid white;
  padding: 5px;
  transition: all .3s;
  background: $base-color;
  &:hover {
    opacity: 0.8;
  }
}
