.footer-logo {
  width: 60px;
}
.footer {
  box-shadow: 0px -5px 20px black;
}
.subInput {
  border: none;
  border-bottom: 1px solid white;
  background-color: transparent;
  outline: none;
  &:focus {
    border-bottom: 1px solid rgb(176, 176, 176);
  }
}
.subBtn {
  border: none;
  border-bottom: 1px solid white;
  &:active {
    box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 1.0);
  }
}
.ins,
.meta {
  width: 30px;
  height: 30px;
  background: rgba(0, 0, 0, 0.096);
}
.ins {
  line-height: 30px;
  color: white;
  transition: .2s all;
  &:hover {
    background: white;
    color: black;
  }
}
.meta {
  transition: .2s all;
  &:hover {
    background: white;
    svg {
      fill: black;
    }
  }
  &:active {
    background: white;
    svg {
      fill: black;
    }
  }
}
.errorMessage-footer {
  font-size: 10px;
  top: 50px;
  left: 35px;
  color: red
}
.sub-font {
  font-size: 14px;
}
.copyright {
  font-size: 12px;
}
.copyright-span {
  font-size: 8px;
}