.navbar-logo {
  width: 150px;
  height: 70px;
  filter: invert(1);
}
.navbar-sm {
  cursor: pointer;
  .navbar-icon span {
    height: 2px;
    background: $secondary-BF;
    border-radius: 10px;
  }
  .navbar-icon span:nth-child(1),
  .navbar-icon span:nth-child(2),
  .navbar-icon span:nth-child(3) {
    margin-top: 10px;
    transition: all .2s;
  }
}
.rotate45 {
  transition: all .3s;
  transform: translateY(8px) rotate(45deg);
}
.rotate-45 {
  transition: all .3s;
  transform: translateY(-5px) rotate(-45deg);
}
.rotate-none {
  display: none !important;
}
.navbar-md {
  color: $secondary-BF;
}
a.router-link-active{
  border-bottom: 1px solid $base-color;
}
@include media-breakpoint-down(md) {
  .navbar-overlay {
    top: 70px;
    .nav-link {
      border-bottom: 1px solid $secondary-40
    }
  }
}
