@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
$base-color: #FFFFFF;
$secondary-BF: #BFBFBF;
$secondary-80: #808080;
$secondary-40: #404040;
$secondary-E6: #E6E6E6;
$dark: black;
html {
  font-size: 16px;
}
body {
  font-family: 'Noto Sans TC', sans-serif !important;
  font-size: 1rem;
  color: $base-color;
  background-color: black;
}
.logo_font {
  font-family: 'Dancing Script', cursive;
}
.text-indent2rem {
  text-indent: 2rem;
}
/* 麵包削 */
.breadcrumb-style {
  margin-top: 20px;
  border-radius: 5px;
  background: $base-color;
  .breadcrumb-item-none {
    color: #6c757D
  }
}
.pt-utility {
  padding-top: 60px;
}
.active-E6 {
  color: $secondary-E6 !important;
  border-color: $secondary-40;
  background: $secondary-40;
  &:active,
  &:hover {
    color: $secondary-E6;
    border-color: $secondary-40;
    background: $secondary-40;
    box-shadow: 0px 0px 5px black !important;
  }
  &:focus {
    box-shadow: 0px 0px 5px black;
    background: $secondary-40;
    color: $secondary-E6;
  }
}
@include media-breakpoint-up(md) {
  .pt-utility {
    padding-top: 80px;
  }
}
@media (max-width:424px) {
  html {
    font-size: 14px;
  }
}
@media (max-width:320px) {
  html {
    font-size: 10px;
  }
}