.logo {
  height: 80px;
  line-height: 80px;
}
.navbar-sm {
  cursor: pointer;
  .navbar-icon span {
    height: 2px;
    background: $base-color;
    border-radius: 10px;
  }
  .navbar-icon span:nth-child(1),
  .navbar-icon span:nth-child(2),
  .navbar-icon span:nth-child(3) {
    margin-top: 10px;
    transition: all .2s;
  }
}
.rotate45 {
  transition: all .3s;
  transform: translateY(8px) rotate(45deg);
}
.rotate-45 {
  transition: all .3s;
  transform: translateY(-5px) rotate(-45deg);
}
.rotate-none {
  display: none !important;
}
.navbar-md {
  color: $base-color;
}
a.router-link-active {
  color: $secondary-BF;
  font-weight: 500;
}
.hideNavbar {
  top: -100px;
}
.hideSubNavbar {
  transform: translateY(-250px);
}
.smallNavbar {
  width: 100px;
  height: 50px;
  margin: 5px 0;
  transition: all .3s;
}
.top50px {
  top:50px !important;
}
.navbar-badge {
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  background-color: #fff;
  color:$secondary-80;
  border-radius: 50%;
  animation-fill-mode:none;
}
.navbar-badge-sm {
  top: -5px;
  right: -20px;
}
.navbar-badge-md {
  top: -7px;
  right: -12px;
}
@include media-breakpoint-down(md) {
  .logo {
    height: 60px;
    line-height: 60px;
  }
  .navbar-overlay {
    top: 60px;
    .nav-link {
      border-bottom: 1px solid $secondary-40
    }
  }
}
.nav-link {
  position: relative;
}
.nav-link::after {
  content: '';
  position: absolute;
  background-color: $secondary-80;
  height: 2px;
  width: 0%;
  left: 49%;
  bottom: 0px;
  border-radius: 5px;
}
.nav-link::before {
  content: '';
  position: absolute;
  background-color: $secondary-80;
  height: 2px;
  width: 0%;
  right: 49%;
  bottom: 0px;
  border-radius: 5px;
}
.nav-link:hover::after {
  content: '';
  width: 50%;
  transition: all .2s ease-in-out;
}
.nav-link:hover::before {
  content: '';
  width: 50%;
  transition: all .2s ease-in-out;
}