.carts-container {
  padding-top: 15vh;
  z-index: 2;
}
.carts-img {
  height: 150px;
  object-fit: contain;
}
.cartsItem {
  transition: all .3s;
  border-bottom: 1px solid #404040;
}
.cartsInput-sm-container {
  left: 7%;
  .cartsInput-sm-Item {
    .cartsInput-sm-add,
    .cartsInput-sm-min {
      height: 40px;
      line-height: 40px;
      user-select: none;
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
      transition: all .3s;
      &:hover,
      &:active {
        background-color: $base-color;
        color: black;
      }
    }
    .cartsInput-sm-input {
      width: 50px;
      height: 50px;
      background: transparent;
      border-radius: 0;
    }
  }
}

.cartsInput-md-container {
  width: 30%;
  .cartsInput-md-Item {
    width: 100%;
    .cartsInput-md-min,
    .cartsInput-md-add {
      width: 30%;
      height: 40px;
      line-height: 40px;
      max-width: 60px;
      user-select: none;
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
      transition: all .3s;
      &:hover,
      &:active {
        background-color: $base-color;
        color: black;
      }
    }
    .cartsInput-md-input {
      input {
        height: 40px;
      }
    }
  }
}
.cartsInput-trash {
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  border: 1px solid white;
  &:hover,
  &:active {
    box-shadow: inset 0px 0px 4px #ffffff;
  }
}
@media (max-width:425px) {
  .carts-img {
    height: 100px;
  }
  .cartsInput-trash {
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
}
@media (max-width:375px) {
  .cartsInput-sm-container {
      .cartsInput-sm-Item {
        .cartsInput-sm-add,
        .cartsInput-sm-min {
          height: 35px;
          line-height: 35px;
        }
        .cartsInput-sm-input {
          width: 50px;
          height: 35px;
        }
      }
    }
}
@include media-breakpoint-up(md) {
  .carts-img {
    height: 200px;
  }
}
@include media-breakpoint-up(xl) {
  .carts-img {
    height: 300px;
  }
}
