/* banner carousel && title */
.carousel-item-home {
  height: 220px;
  .carousel-caption-home {
    right: 0%;
    left: 50%
  }
}
.banner-container {
  .banner-title {
    line-height: 100px;
    text-align: center;
    white-space: nowrap;
    width: 2ch;
    overflow: hidden;
    animation: 3s typing steps(150, jump-none) forwards;
  }
}
@keyframes typing {
  0% {
    width: 1ch;
  }
  100% {
    width: 20ch;
  }
}
/* details */
.homeDetails-inner {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.homeDetails-icon {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  box-shadow: 0px 0px 3px gray;
  line-height: 45px;
}
/* news */
.bg-secondary-80 {
  background: $secondary-80;
}
.newsItem {
  width: 200px;
  height: 200px;
}
/* 訂閱Ｆorm */ 
.sub-input {
  width: 70%;
  border: 1px solid white;
  padding: 5px 20px;
}
.sub-btn {
  width: 30%;
  border: 1px solid white;
  padding: 5px;
}
/* coupon style */
.home-coupon {
  background: rgb(255,69,0);
  width: 250px;
  height: 70px;
  box-shadow: 0px 2px 0px white;
}
.home-coupon span:nth-child(1) {
  background: white;
  border-radius: 50px;
  width: 30px;
  height: 30px;
  left: -15px;
  top: 15px;
}
.home-coupon span:nth-child(2) {
  background: white;
  border-radius: 50px;
  width: 30px;
  height: 30px;
  right: -15px;
  top: 15px;
  z-index: 3;
}
.home-coupon span:nth-child(3) {
  width: 50px;
  height: 70px;
  background-color: #f88181;
  right: 0;
}
.home-coupon span:nth-child(4) {
  width: 30px;
  height: 30px;
  background: white;
  border-radius: 50%;
  top: -30px;
  right: -30px;
  cursor: pointer;
}
.coupon-img {
  width: 45px;
  height: 45px;
}
.coupon {
  background-color: rgba(255, 255, 255, 0.8);
  border: 2px solid white;
  border-radius: 50%;
  z-index: 100;
  cursor: pointer;
}
.coupon-content strong{
  animation: flashCoupon 2s infinite steps(1, end);
}
.coupon-content::before {
  content: '(限時)';
  color: yellow;
  animation: flash 2s infinite steps(1, end);
}
@keyframes flashCoupon {
  0% {
    color: #fff;
  }
  50% {
    color: black;
  }
}
/* media-breakpoint */
@include media-breakpoint-down(sm) {
.bounce-coupon {
  margin-bottom: 60px !important;
  }
}
@include media-breakpoint-up(md) {
  .home-coupon {
    width: 400px;
    height: 100px;
    line-height: 30px;
  }
  .home-coupon span:nth-child(1) {
    top: 35px;
  }
  .home-coupon span:nth-child(2) {
    top: 35px;
  }
  .home-coupon span:nth-child(3) {
    width: 70px;
    height: 100px;
  }
}
