/* 滾動視插圖 */
.article {
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  box-shadow: 4px 10px 40px gray;
  z-index: -10;
  transition: all 1s;
}

.section1 {
  background-image: url('@/assets/pic/pic01.jpg');

  &:hover {
    transform: scale(1.1);
  }
}

.section2 {
  background-image: url('@/assets/pic/pic03.jpg');

  &:hover {
    transform: scale(1.1);
  }
}

.section3 {
  background-image: url('@/assets/pic/pic03.jpg');
}

/* 滾動視插圖 end */

/* 首頁字體keyframes */
.banner_title {
  text-align: center;
  white-space: nowrap;
  font-size: 1.5rem;
  width: 2ch;
  overflow: hidden;
  animation: 3s typing steps(150, jump-none) forwards;
  animation-iteration-count: infinite;
}

@keyframes typing {
  0% {
    width: 1ch;
  }

  100% {
    width: 20ch;
  }
}

/*  首頁字體keyframes end  */
/* 配件背景 */
.slide_bg2 {
  background: linear-gradient(45deg,
      rgba(0, 0, 0, 1) 0, rgba(0, 0, 0, 1) 25%, transparent 25%, transparent 50%,
      rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 1) 75%, transparent 75%, transparent);
  background-size: 50px 50px;
}

/* 配件背景 end */
.banner_video {
  height: 50vh;
}

.bg-shadow {
  box-shadow: 0px -10px 20px black;
}

.home-content {
  margin-top: 60px;

  .home-content-h1 {
    writing-mode: vertical-lr;
  }
}

.bg-solid {
  border: 1px solid white;
  width: 200px;
  height: 221px;
  top: 26px;
  left: -24px;
}

.bg-solid2 {
  border: 1px solid white;
  width: 230px;
  height: 300px;
  top: -25px;
  left: 100px;
}
.home-coupon {
  background: rgb(255,69,0);
  width: 250px;
  height: 70px;
  box-shadow: 0px 2px 0px white;
}

.home-coupon span:nth-child(1) {
  background: white;
  border-radius: 50px;
  width: 30px;
  height: 30px;
  left: -15px;
  top: 15px;
}

.home-coupon span:nth-child(2) {
  background: white;
  border-radius: 50px;
  width: 30px;
  height: 30px;
  right: -15px;
  top: 15px;
  z-index: 3;
}

.home-coupon span:nth-child(3) {
  width: 50px;
  height: 70px;
  background-color: #f88181;
  right: 0;
}

.home-coupon span:nth-child(4) {
  width: 30px;
  height: 30px;
  background: white;
  border-radius: 50%;
  top: -30px;
  right: -30px;
  cursor: pointer;
}

.coupon-remind {
  font-size: 8px;
}

.topPicks-span {
  font-size: 10px;
}

.topPicks-item {
  width: 100%;
  height: 200px;
  border: 1px solid white;
}

.topPicks-content {
  p {
    text-indent: 2rem;
    text-align: justify;
    letter-spacing: -1px;
  }
}

.arrowUp {
  width: 40px;
  height: 40px;
  background-color: #fff;
  z-index: 5;
  border: 1px solid black;
  line-height: 40px;
}
.newsItem {
  width: 200px;
  height: 200px;
}
.coupon {
  background-color: #fff;
  border-radius: 50%;
  z-index: 100;
  cursor: pointer;
}
.coupon-content strong{
  animation: flashCoupon 2s infinite steps(1, end);
}
.coupon-content::before {
  content: '(限時)';
  color: yellow;
  animation: flash 2s infinite steps(1, end);
}
@keyframes flashCoupon {
  0% {
    color: #fff;
  }
  50% {
    color: black;
  }
}


@include media-breakpoint-up(md) {
  .bg-solid2 {
    width: 450px;
  }

  .home-coupon {
    width: 400px;
    height: 100px;
    line-height: 30px;
  }

  .home-coupon span:nth-child(1) {
    top: 35px;
  }

  .home-coupon span:nth-child(2) {
    top: 35px;
  }

  .home-coupon span:nth-child(3) {
    width: 70px;
    height: 100px;
  }
}