.productmore-item {
  .numInput-item {
    .counter {
      height: 30px;
      input {
        max-width: 70px;
      }
    }
    .numInput-prev,
    .numInput-next {
      user-select: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      color: white;
      border: 1px solid white;
      width: 30px;
      height: 30px;
      line-height: 30px;
      transition: all .3s;
      &:hover,
      &:active {
        background-color: $base-color;
        color: black;
      }
    }
  }
}
// pic
.productmore-pic {
  img {
    object-fit: contain;
  }
  .productmore-search {
    p{
      transform: translateY(100px);
      transition: all .5s;
    }
    &:hover p,
    &:active p{
      transform: translateY(0px);
    }
  }
}
@include media-breakpoint-down(md) {
  .productmore-pic {
    max-width: 200px;
    margin: 0 auto;
  }
}
@include media-breakpoint-up(sm) {
  .productmore-pic {
    max-width: 300px;
  }
}
// bootstrap 手風琴 style change START //

.accordion-button,
.accordion-body {
  background: #212529;
  color: white;
}

.accordion-body,
.product-description {
  color: $secondary-E6;
}

.accordion-button:focus {
  border-color: none;
  box-shadow: none;
}

.accordion-button:not(.collapsed) {
  color: white;
  background-color: $secondary-40;
}

.accordion-item {
  border-radius: 0 !important;
}

.accordion-item:first-of-type .accordion-button {
  border-radius: 0 !important;
}

.accordion-button::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-header:hover {
  transition: all .3s;
  opacity: 0.9;
}
// bootstrap style change END//
@media (max-width: 280px) {
  .productmore-item {
      .numInput-item {
        .counter {
          height: 25px;
        }
        .numInput-prev,
        .numInput-next {
          width: 25px;
          height: 25px;
          line-height: 25px;
      }
    }
  }
}