/* products rotate color */
.div2 {
  background: linear-gradient(45deg,
      rgba(255, 255, 255, .5) 0, rgba(255, 255, 255, .5) 25%, transparent 25%, transparent 50%,
      rgba(255, 255, 255, .5) 50%, rgba(255, 255, 255, .5) 75%, transparent 75%, transparent);
      height: 60px;
      background-size: 10px 10px;
}
/* products rotate color end */

/* products item START*/
.product_item {
    border: 1px solid white;
    height: 250px;
    box-shadow: 0px 5px 0px #ffffff;
  .product_h3 {
    writing-mode: vertical-lr;
    text-orientation: mixed;
    text-decoration: underline;
    color: white;
    text-shadow: 0px -2px 0px #af9d9d;
    }
  .product_more {
    color: black;
    line-height: 40px;
    width: 40px;
    height: 40px;
  }
}

/* products item END*/
