.product_pic {
  height: 200px;
  box-shadow: -3px -4px 9px #00000066;
}
.prev,
.next {
  border: 1px solid black;
  width: 30px;
  height: 30px
}
.cartIcon {
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.accordion-button:focus {
  border-color:none;
  box-shadow: none;
}
.accordion-button:not(.collapsed) {
  color:black;
  background-color: #fff;
}
.accordion-item {
  border-radius: 0 !important;
}
@include media-breakpoint-down(sm) {
  .product_pic {
    height: 180px;
  }
}
