/*麵包削*/
.breadcrumb-style {
  border-radius: 5px;
  background: rgb(255 255 255 / 20%);
  .breadcrumb-item-none {
    color: #6c757D
  }
}
/* list-group active樣式 */
.products-active {
  background: white !important;
  color: black !important;
}
/* products樣式 */
.product-item {
  height: 300px;
  border: 1px solid white;
  padding: 30px;
  cursor: pointer;
  .product-img {
    object-fit: cover
  }
}
.product-content {
  .product-p {
    line-height: 40px;
    color: red;
  }
  .addCartSize {
    width: 40px;
    height: 40px;
  }
}
/* addCart/scrollUp icon */
.drawer-container {
  z-index: 100;
  cursor: pointer;
  .drawer-btn {
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid #ccc;
    height: 45px;
    width: 45px;
  }
}
.scrollTop-container {
  z-index: 100;
  bottom: 55px;
  .scrollTop-btn {
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid #ccc;
    height: 45px;
    width: 45px;
  }
}
/* set w-badge bgc */
.dark--bg {
  background-color: #212529 !important;
}
/* media-breakpoint */
@include media-breakpoint-up(sm) {
  .product-outside {
    width: 100% !important;
  }
}
@include media-breakpoint-up(md) {
  .product-outside {
    width: 50% !important;
  }
}
@include media-breakpoint-up(lg) {
  .product-outside {
    width: 33.3% !important;
  }
}
