/* list-group active樣式 */
.products-active {
  background: white !important;
  color: black !important;
}
.list-group-item {
  background: $dark;
  color: $base-color;
  transition: all .1s;
  &:hover{
    background-color: white;
    opacity: 0.9;
    border: 2px solid $secondary-E6;
    color:black;
  }
}
// products item
.w-image {
  background-position: top 10px;
}
.product-content-container {
  box-shadow: 0px 0px 15px black;
  transition: all .3s;
  max-width: 250px;
  .product-item {
    height: 165px;
    cursor: pointer;
    overflow: hidden;
    .product-img {
      transition: all .3s;
    }
    .productNotes-container {
      transform: translate(-50%, 100px);
      background-color: rgba(255, 255, 255, 0.2);
      height: 100%;
      transition: all .3s;
      opacity: 0;
        .productNotes-icon {
          transform: translate(-50%, 200%);
        }
      }
    .fav {
      color: rgb(233, 70, 70);
    }
  }
  &:hover,
  &:active {
    box-shadow: 0px 10px 30px black;
    .product-item {
      border-radius: 3px !important;
    }
  }
  &:hover .productNotes-container,
  &:active .productNotes-container {
    opacity: 1;
    transform: translate(-50%, 0px);
    .productNotes-icon {
    transform: translate(-50%, -50%);
      transition-delay: .2s;
      transition: all 1s;
    }
  }
}
.product-content {
  .product-p {
    line-height: 20px;
    color: rgb(255, 73, 73);
  }
  .addCartSize {
    width: 40px;
    height: 40px;
    transition: all .3s;
    &:hover {
      opacity: 0.9;
    }
    &:hover svg{
      transition: transform .3s;
      transform: scale(1.1);
    }
  }
}
.productBanner {
  height: 200px;
}
@include media-breakpoint-up(md) {
  .product-content-h5 {
    font-size: 1.25rem;
    font-weight: 700;
  }
  .product-price {
    font-size: 1.125rem;
  }
  .product-content {
    .product-p {
      line-height: 30px;
    }
  }
}
@media (min-width:320px) {
.product-content-container {
  .product-item {
    height: 165px;
  }
}
  .productBanner {
    height: 200px;
  }
}
@media (min-width:375px) {
.product-content-container {
  .product-item {
    height: 195px;
  }
}
  .productBanner {
    height: 230px;
  }
}
@media (min-width:425px) {
.product-content-container {
  .product-item {
    height: 225px;
  }
}
.productBanner {
  height: 260px;
}
}
@media (min-width:768px) {
.product-content-container {
  .product-item {
    height: 310px;
  }
}
.productBanner {
  height: 345px;
}
}
@media (min-width:1024px) {
.product-content-container {
  .product-item {
    height: 275px;
  }
}
.productBanner {
  height: 300px;
}
}
@media (min-width:1440px) {
.product-content-container {
  .product-item {
    height: 300px;
  }
}
.productBanner {
  height: 335px;
}
}